@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,200;1,200&family=Karla:wght@400&display=swap");

$marine: #10262b;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Karla", sans-serif;
  color: $marine;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  background: rgba(25, 25, 25, 1);
}

h1 {
  font-size: 7em;
  line-height: 1.2;
  font-family: "Fraunces", serif;
  font-weight: 200;
  color: white;
  position: absolute;
  // bottom: 16px;
  // right: 16px;
  // width: 32px;
  // height: 32px;
  z-index: 2;
}

canvas {
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;

}
#container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.spline-watermark {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 2;
}

.spline-watermark:hover {
  opacity: 0.8;
}

.spline-watermark img {
  display: block;
  width: 100%;
  height: 100%;
}

.formContainer {
  background-color: rgba(238, 239, 239, 0.75);
  width: 40vw;
  min-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 7em;
  backdrop-filter: blur(40px);

  &__heading {
    font-size: 3.5em;
    line-height: 1.2;
    font-family: "Fraunces", serif;
    font-weight: 200;
    color: $marine;
  }

  &__italic {
    font-style: italic;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 6em;

  &__label {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.5;
    transition: ease-in 0.2s;

    &:hover {
      opacity: 1;
      transition: ease-out 0.4s;
    }

    &:focus-within {
      opacity: 1;
      transition: ease-out 0.4s;
    }
  }

  &__input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px $marine;
    height: 3.5em;
    margin-bottom: 2em;
    margin-top: 0.5em;
    padding-left: 1em;
    background-color: rgba(255, 255, 255, 0);
    transition: ease-in 0.2s;
    outline: none;
    font-size: 1.2em;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: ease-out 0.4s;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      transition: ease-out 0.4s;
    }
  }

  &__button {
    margin-top: 1em;
    height: 4em;
    background-color: rgba(16, 38, 43, 0);
    opacity: 0.5;
    border-radius: 2px;
    border: solid 1px $marine;
    font-size: 1em;
    transition: ease-in 0.2s;
    max-width: 200px;
    padding-bottom: 2px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: ease-out 0.4s;
      background-color: rgba(16, 38, 43, 0.05);
    }

    &:active {
      opacity: 1;
      transition: ease-out 0.4s;
      background-color: rgba(16, 38, 43, 0.1);
    }
  }
}
